/*Navigation */
#navbar{
    flex-direction: column;
     
}
#navbar ul li a{
    font-size: 1rem;
    padding: 17px 14px;
    padding-bottom: 10px;
}

/* Home section */
#home{
height:220px;
padding: 5px 15px;
}
#home::before{
    height: 370px;
    }
 #home p{
   font-size: 13px;
    }

/* Services section */
#services{
flex-direction: column;
}

#services.box{
padding: 14px;
margin: 2px 15px;
margin-bottom: 20px;


}
/* clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 1px 46px;
    height: 120px;
}

/* contact us section */
#contact-box form{
width: 80%;
}

/* Footer */

/* utility classes */
.h-primary{
    font-size: 25px;
}
.btn{
    font-size: 14px;
    padding: 8px 20px;
}